</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wiseguys Online Orders</title>
  </head>
  <body>
    <div id="page-content">
      <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
          <h1 class="display-4">Welcome to Wiseguys!</h1>
          <p class="lead">Place an order, view our menu, and sign up to create your Wiseguys profile!</p>
          <hr class="my-4">
          <p>Choose any of the options.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Place an Order</a>
          </p>
          <p class="lead2">
            <a class="btn btn-primary btn-lg" href="#" role="button">View Menu</a>
          </p>
        </div>
      </div>
    </div>
      <footer id="sticky-footer" class="py-4 bg-dark text-white">
        <div class="container text-center">
          <small>Copyright &copy; Wiseguys</small>
        </div>
      </footer>
  </body>
</html>
